@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "primeicons/primeicons.css";

.content {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.submit-button {
    padding: 5px 15px;
    color: #eee;
    background-color: #67a;
}